@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.global-container {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--body-bg-color);
}

.global-container .sidebar {
  width: 40rem;
  height: auto;
  background-color: var(--body-bg-color);
}

.sidebar .profile-container {
  width: 90%;
  height: 29.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--bg-cards);
  margin: 4rem auto;
}

.sidebar .profile-container .profile-image {
  width: 12.8rem;
  height: 12.8rem;
  margin-top: 3.2rem;
  position: relative;
}

.sidebar .profile-container .profile-image::before {
  content: "";
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #00ff00;
  border-radius: 50%;
}

.sidebar .profile-container .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle();
  cursor: pointer;
}

.sidebar .profile-container h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--text-color);
  margin-top: 3rem;
}

.sidebar .profile-container p {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 1rem;
}

.sidebar .sci-container {
  width: 90%;
  height: auto;
  background-color: var(--bg-cards);
  margin: 4rem auto;
  border-radius: 20px;
}

.sidebar .sci-container .sci-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar .sci-container .sci-wrapper a {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 2rem;
  margin-left: 4rem;
}

.sidebar .sci-container .sci-wrapper a:last-child {
  margin-bottom: 2rem;
}

.sidebar .sci-container .sci-wrapper img {
  width: 25px;
  height: 25px;
  margin-right: 2rem;
}

.technologies {
  width: 90%;
  height: auto;
  background-color: var(--bg-cards);
  margin: 4rem auto;
  border-radius: 20px;
}

.technologies h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  padding: 3rem 0 0 2rem;
}

.technologies .technologies-wrapper {
  display: flex;
}

.technologies .technologies-wrapper ul {
  margin: 0 3rem 3rem 3rem;
}
.technologies .technologies-wrapper ul li {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 20px;
  margin-right: 1.5rem;
  margin-top: 2rem;
  background-color: var(--bg-techs);
  border-radius: 30px;
}

.experiences {
  width: 90%;
  height: auto;
  margin: 4rem auto;
  border-radius: 20px;
  background-color: var(--bg-cards);
}

.experiences h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  padding: 3rem 0 0 2rem;
}

.experiences .experiences-wrapper {
  margin-left: 4rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.experiences .experiences-wrapper p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.experiences .experiences-wrapper p::first-line {
  font-size: 1.5rem;
  font-weight: 700;
}

.education {
  width: 90%;
  height: auto;
  background-color: var(--bg-cards);
  margin: 4rem auto;
  border-radius: 20px;
}

.education h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  padding: 3rem 0 0 2rem;
}

.education .education-wrapper {
  margin-left: 4rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.education .education-wrapper p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.education .education-wrapper p::first-line {
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  width: 100%;
}

main header {
  width: 80%;
  height: 8.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 4rem auto;
  background: var(--bg-cards);
}

main header h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 3rem;
  color: var(--text-color);
}

main header a {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 3rem;
  color: var(--text-color);
}

.projects-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 80%;
}

.projects-container .project-wrapper {
  background: var(--bg-cards);
  width: 46rem;
  height: 23rem;
  border-radius: 20px;
}

.projects-container .project-wrapper .project-title {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 3rem;
  gap: 1.6rem;
}

.projects-container .project-wrapper .project-title p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
}

.projects-container .project-wrapper p {
  margin: 2.2rem 1rem 0 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
}

.projects-container .project-wrapper .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4.7rem;
}

.projects-container .project-wrapper .footer p:last-child {
  margin-right: 3rem;
}

.projects-container .project-wrapper .footer > div {
  width: 12.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

.projects-container .project-wrapper .footer > div span {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

main .posts {
  display: flex;
  align-items: center;
  width: 80%;
  height: 8.6rem;
  border-radius: 20px;
  margin: 3rem auto;
  background: var(--bg-cards);
}

main .posts h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 3rem;
  color: var(--text-color);
}

main .post {
  width: 80%;
  height: 20rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 3rem auto;
  background: var(--bg-cards);
}

main .post .post-image {
  width: 12.8rem;
  height: 12.8rem;
  margin-left: 3rem;
}

.post img {
  width: 100%;
  height: 100%;
  clip-path: circle();
}

main .post .text {
  margin-left: 2rem;
}

main .post .text h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}
main .post .text span {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

main .post .text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2.8rem 0 1rem 0;
  color: var(--text-color);
}

main .post .hashs {
  display: flex;
  gap: 1rem;
}
